<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<CONFIGURACION>
<SERVIDOR>
<MULTICAST>224.0.0.3</MULTICAST>
<SERV>192.168.1.91</SERV>
<ESC>4050</ESC>
<PortUDP>5001</PortUDP>
</SERVIDOR>
<ASIO>
<CANAL id="canal 1">5001</CANAL>
<CANAL id="canal 9">5001</CANAL>
<CANAL id="canal 5">5001</CANAL>
<CANAL id="canal 13">5001</CANAL>
<CANAL id="canal 17">5001</CANAL>
<CANAL id="canal 21">5001</CANAL>
<CANAL id="canal 25">5001</CANAL>
<CANAL id="canal 26">5001</CANAL>
<CANAL id="canal 2">5001</CANAL>
<CANAL id="canal 10">5001</CANAL>
<CANAL id="canal 6">5001</CANAL>
<CANAL id="canal 14">5001</CANAL>
<CANAL id="canal 18">5001</CANAL>
<CANAL id="canal 22">5001</CANAL>
<CANAL id="canal 27">5001</CANAL>
<CANAL id="canal 28">5001</CANAL>
<CANAL id="canal 3">5001</CANAL>
<CANAL id="canal 11">5001</CANAL>
<CANAL id="canal 7">5001</CANAL>
<CANAL id="canal 15">5001</CANAL>
<CANAL id="canal 19">5001</CANAL>
<CANAL id="canal 23">5001</CANAL>
<CANAL id="canal 29">5001</CANAL>
<CANAL id="canal 30">5001</CANAL>
<CANAL id="canal 4">5001</CANAL>
<CANAL id="canal 12">5001</CANAL>
<CANAL id="canal 8">5001</CANAL>
<CANAL id="canal 16">5001</CANAL>
<CANAL id="canal 20">5001</CANAL>
<CANAL id="canal 24">5001</CANAL>
<CANAL id="canal 31">5001</CANAL>
<CANAL id="canal 32 ">5001</CANAL>
<FRECUENCIA>44100</FRECUENCIA>
<MUESTRA>64</MUESTRA>
<NETWORK>default</NETWORK>
</ASIO>
<IMAGES>
<IMAGE>Fondo1366.png</IMAGE>
<IMAGE>Fondo1366.png</IMAGE>
<IMAGE>Fondo1366.png</IMAGE>
<IMAGE>Fondo1366.png</IMAGE>
<IMAGE>Fondo1366.png</IMAGE>
<IMAGE>Fondo1366.png</IMAGE>
<IMAGE>Fondo1366.png</IMAGE>
<IMAGE>dybala.jpg</IMAGE>
<IMAGE>dybala.jpg</IMAGE>
<IMAGE>dybala.jpg</IMAGE>
<IMAGE>dybala.jpg</IMAGE>
<IMAGE>dybala.jpg</IMAGE>
<IMAGE>dybala.jpg</IMAGE>
<IMAGE>dybala.jpg</IMAGE>
<IMAGE>messi.jpeg</IMAGE>
<IMAGE>green.png</IMAGE>
<IMAGE>messi.jpeg</IMAGE>
<IMAGE>messi.jpeg</IMAGE>
<IMAGE>messi.jpeg</IMAGE>
<IMAGE>messi.jpeg</IMAGE>
<IMAGE>messi.jpeg</IMAGE>
<IMAGE>messi.jpeg</IMAGE>
<IMAGE>Fondo1366.png</IMAGE>
<IMAGE>dybala.jpg</IMAGE>
<IMAGE>green.png</IMAGE>
<IMAGE>green.png</IMAGE>
<IMAGE>green.png</IMAGE>
<IMAGE>green.png</IMAGE>
<IMAGE>green.png</IMAGE>
<IMAGE>green.png</IMAGE>
<IMAGE>messi.jpeg</IMAGE>
<IMAGE>green.png</IMAGE>
</IMAGES>
</CONFIGURACION>
